<div class="container">

<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Product Name</mat-label>
      <input matInput formControlName="name">
      <mat-error *ngIf="productForm.get('name')?.hasError('required')">
       Product Name is required
      </mat-error>
    </mat-form-field>
  
    <mat-form-field>
      <mat-label>Price</mat-label>
      <input matInput formControlName="price">
      <mat-error *ngIf="productForm.get('price')?.hasError('required')">
        Price is required
      </mat-error>
      <mat-error *ngIf="productForm.get('price')?.hasError('pattern')">
        Invalid price format
      </mat-error>
    </mat-form-field>
  
    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>
  
    <button mat-raised-button color="primary" type="submit" [disabled]="productForm.invalid">Add Product</button>
  </form>
</div>